<div class="header mt-md-5">
  <div class="header-body">
    <div class="row align-items-center">
      <div class="col"><h6 class="header-pretitle">Main</h6>
        <h1 class="header-title">Create story</h1></div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <form [formGroup]="surveyForm">
    <label for="name" class="form-label">Name</label>
    <input class="form-control" id="name" placeholder="Story name" formControlName="name">
    <h3 class="mt-5">Select a lesson to teach</h3>
    <div class="d-flex flex-wrap gap-2">
      <span *ngFor="let lesson of lessons"
            class="badge p-3 pointer"
            [class.text-bg-light]="surveyForm.value.lesson !== lesson"
            [class.text-bg-primary]="surveyForm.value.lesson === lesson"
            (click)="surveyForm.patchValue({ lesson })">
        {{ lesson }}
      </span>
    </div>

    <h3 class="mt-4">Select elements</h3>
    <div class="d-flex flex-wrap gap-2">
      <span *ngFor="let element of elements"
            class="badge p-3 pointer"
            [class.text-bg-light]="!surveyForm.value.elements.includes(element)"
            [class.text-bg-primary]="surveyForm.value.elements.includes(element)"
            (click)="toggleElement(element)">
        {{ element }}
      </span>
    </div>

    <label for="name" class="form-label mt-5">Custom elements</label>
    <input class="form-control" id="name" placeholder="Custom elements" formControlName="customElement">

    @if (saving) {
      <app-loading></app-loading>
    } @else {
    <button class="btn btn-success mt-3" (click)="save()"
            [disabled]="!surveyForm.value.lesson || !surveyForm.value.elements.length">
      Save
    </button>
  }
  </form>
</div>
