<div>
  <nav class="navbar navbar-vertical fixed-start navbar-expand-md" id="sidebar">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
              aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="mb-3 text-center">
        <a class="avatar avatar-xl mb-3" routerLink="/">
          <img class="avatar-img rounded-circle" src="assets/img/parents.png">
        </a>
        <div class="h5 card-title placeholder-glow text-center">
          <span class="col-6">Parents</span>
        </div>
      </div>
      <!-- User (xs) -->
      <div class="navbar-user d-md-none">

        <!-- Dropdown -->
        <div class="dropdown">

          <!-- Toggle -->
          <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-sm avatar-online">
              <img src="https://picsum.photos/200/300" class="avatar-img rounded-circle" alt="...">
            </div>
          </a>


        </div>

      </div>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">

        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge input-group-reverse">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </form>

        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/parent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
            class="fe fe-book"></i>Stories</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/parent/kid" routerLinkActive="active"
                                  [routerLinkActiveOptions]="{exact: true}"><i class="fe fe-user"></i>My kid</a></li>
        </ul>

        <hr class="navbar-divider my-3">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/"><i class="fe fe-repeat"></i>Change panel</a>
        </ul>

        <!-- Push content down -->
        <div class="mt-auto"></div>

        <!-- User (md) -->
        <div class="navbar-user d-none d-md-flex" id="sidebarUser">

          <!-- Icon -->
          <a class="navbar-user-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasActivity"
             aria-controls="sidebarOffcanvasActivity">
                  <span class="icon">
                    <i class="fe fe-bell"></i>
                  </span>
          </a>

          <div class="dropup">


            <!-- Menu -->
            <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
              <a routerLink="/company/general" class="dropdown-item">Ustawienia</a>
              <hr class="dropdown-divider">
              <a (click)="logout()" class="dropdown-item">Wyloguj</a>
            </div>

          </div>
          @if (isDark()) {
            <button class="btn btn-sm btn-white" (click)="lightMode()"><span class="fe fe-sun"></span></button>
          } @else {
          <button class="btn btn-sm btn-primary" (click)="darkMode()"><span class="fe fe-moon"></span></button>
        }
        </div>

      </div> <!-- / .navbar-collapse -->

    </div>
  </nav>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <router-outlet/>
      </div>
    </div>
  </div>
</div>
