@import "assets/css/libs.bundle.css";
@import "assets/css/theme.bundle.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* You can add global styles to this file, and also import other style files */

app-root {
  display: block;
  height: 100%;
}

input.ng-touched.ng-invalid {
  border-color: var(--bs-danger);
}

a {
  cursor: pointer;
}

.toast-success {
  background-color: var(--bs-success) !important;
}

.toast-error {
  background-color: var(--bs-danger) !important;
}

.toast-info {
  background-color: var(--bs-info) !important;
}

.toast-warning {
  background-color: var(--bs-warning) !important;
}

.pointer {
  cursor: pointer;
}
.pre-wrap {
  white-space: pre-wrap;
}

/*ngb-typeahead-window.dropdown-menu { width: 100%; }*/
