@import "assets/css/libs.bundle.css";
@import "assets/css/theme.bundle.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* You can add global styles to this file, and also import other style files */

app-root {
  display: block;
  height: 100%;
}

input.ng-touched.ng-invalid {
  border-color: var(--bs-danger);
}

a {
  cursor: pointer;
}

.cal-time-label-column .cal-hour-segment {
  border: none !important;
}

.cal-day-columns .cal-after-hour-start {
  border-bottom: 1px solid rgba(229, 231, 235) !important;
}

body[data-bs-theme="dark"] .cal-day-columns .cal-after-hour-start {
  border-bottom: 1px solid var(--bs-border-color) !important;
}

body[data-bs-theme="dark"] .cal-week-view, .cal-week-view * {
  border-color: var(--bs-border-color) !important;
}

.cal-day-columns .cal-hour-start {
  border: none !important;
}

.cal-hour-odd {
  background-color: inherit !important;
}

.cal-time {
  color: var(--bs-secondary-color);
  font-weight: normal !important;
}

body[data-bs-theme="dark"] .cal-week-view {
  background-color: var(--bs-dark);
}

.toast-success {
  background-color: var(--bs-success) !important;
}

.toast-error {
  background-color: var(--bs-danger) !important;
}

.toast-info {
  background-color: var(--bs-info) !important;
}

.toast-warning {
  background-color: var(--bs-warning) !important;
}

textarea {
  resize: none;
}

.pointer {
  cursor: pointer;
}
.pre-wrap {
  white-space: pre-wrap;
}

/*ngb-typeahead-window.dropdown-menu { width: 100%; }*/
